.socials > a {
    padding: 5px;
}

.icon {
    width: 1rem;
    height: 1rem;
    font-size: larger;
    padding: 5px;
    /* why is this padding not applied */
    padding-top: 10px;    
    display: inline-flex;
    color: whitesmoke
}

.qrcode {
    color: #3E3F4D
}

.qrbutton:hover {
    color: #272831;
    background-color: silver;
    border-color: #272831;
    margin: 5px;
    transition: 
        color 1s ease,
        background-color 1s ease,
        border-color 1s ease;
    }

.qrbutton:not(:hover) {
    color: silver;
    background-color: #272831;
    border-color: silver;
    margin: 5px;
    transition: 
        color 1s ease,
        background-color 1s ease,
        border-color 1s ease;
}
