.email--container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caption {
    color: #797A8A;
    text-decoration: overline;
}

.input {
    font-size: 14px;
    position: relative;

    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: darkgrey;
    padding: 12px;
    border-radius: 6px;
    width: 250px;
    font-size: 14px;
}

.button:hover {
    color: #272831;
    background-color: silver;
    border-color: #272831;
    margin: 5px;
    transition: 
        color 1s ease,
        background-color 1s ease,
        border-color 1s ease;
    }

.button:not(:hover) {
    color: silver;
    background-color: #272831;
    border-color: silver;
    margin: 5px;
    transition: 
        color 1s ease,
        background-color 1s ease,
        border-color 1s ease;
}
