.socials > a {
    padding: 5px;
}

.icon {
    width: 1rem;
    height: 1rem;
    font-size: larger;
    padding: 5px;
    /* why is this padding not applied */
    padding-top: 10px;    
    display: inline-flex;
    color: whitesmoke
}